{% section "page-bespoke-hero.liquid" %}
{% section "page-bespoke-feature.liquid" %}
<div class="SectionHeader SectionHeader--center">
    <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
  </div>
<div class="PageContent Rte">
  {{ page.content }}
</div>
{% section "page-bespoke-contact-form.liquid" %}